.container {
  max-width: 60rem !important;
  width: 100% !important;
}

h1 {
  font-size: 4rem !important;
  font-weight: 700 !important;
  line-height: 1.4 !important;
  margin-top: 1.5rem !important;
}

h2 {
  font-size: 2rem !important;
  font-weight: 700 !important;
  margin-bottom: 2rem !important;
}

h3 {
  font-size: 1.4rem !important;
  margin-top: 1.5rem !important;
  font-weight: 700 !important;
  margin-bottom: 1rem !important;
}

h4 {
  margin-top: 2rem !important;
  font-weight: 700 !important;
}

h5 {
  margin-top: 1.5rem !important;
  font-size: 1.05rem !important;
  font-weight: 700 !important;
  margin-bottom: 0.5rem !important;
}

p {
  font-size: 1.24rem !important;
  font-weight: 500 !important;
  line-height: 2rem !important;
  margin-top: 2.5rem !important;
  margin-bottom: 0 !important;
}

a {
  text-decoration-line: none !important;
}

.access-prevention {
  color: #9f9f9f;
  font-weight: 350;
}

* {
  box-sizing: border-box !important;
}

section {
  border-bottom: 1px solid #eee;
  padding: 2.5rem 1.5rem;
}

.span-br {
  margin-bottom: 0.7rem !important;
}

.project-section {
  padding-top: 1rem !important;
  border-bottom: 1px solid #eee;
  padding-bottom: 2.5rem !important;
}

.highlight {
  color: #a974d5;
}

.progress {
  border-radius: 0 !important;
  position: fixed !important;
  top: 0 !important;
  width: 100%;
  --bs-progress-height: 10px !important;
}

.progress-bar {
  background-image: linear-gradient(90deg, #7873f5, #ec77ab);
}

body {
  font-family: "Noto Sans KR", sans-serif !important;
}

.project-section:first-of-type {
  padding-top: 0 !important;
}

.project-section:last-of-type {
  border-bottom: none;
}

@media (max-width: 960px) {
  h1 {
    font-size: 3rem !important;
  }

  p {
    font-size: 1.05rem !important;
  }
}
